body {
    background-size: 100% 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
    font-style: normal;
    line-height: 150%;
    font-weight: normal;
    font-variant: normal;
    background-attachment: fixed;
    background-image: url(images/strip.png);
    background-color: #fff;
    /*background: #fff url(images/strip.png) fixed; Странно работает, меняет угол */
}


h1 {
    line-height: 150%;
}

.red-text{
    color: red;
}

.small-img{
    width: 300px;
}

.middle-img{
    width: 600px;
}

.center-content{
    text-align: center;
}

.wrapper {
    width: 960px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 10px;
    background: #fff url(images/header-bg.png) repeat-x;
    margin: 25px auto;
    border: 1px solid #000;
}

header {
    height: 120px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
}

.logo {
    padding: 10px;
    margin: 10px;
}

.contacts {
    width: 400px;
    height: 100px;
    margin: 10px;
    line-height: 21px;
    font-size: 14px;
    display: flex;
    justify-content: flex-start;
}

.contacts div{
    margin-right: 20px;
}

.page-body{
    display: flex;
    justify-content: space-between;
}

aside nav{
    margin-bottom: 40px;
}

aside a {
    color: #000;
}

aside a:hover {
    text-decoration: underline;
    font-size: 14px;
}

aside {
    width: 200px;
    padding: 15px 10px 15px 20px;
}

aside ul {
    margin: 0;
    padding-left: 20px;
    line-height: 150%;
}

aside li {
    margin: 10px 0;
}

aside a {
    color: #000;
    font-size: 13px;
    text-decoration: none;
}

aside a:hover {
    color: #000;
    text-decoration: underline;
}

main {
    width: 680px;
    padding: 0 20px;
}

main h1{
    font-size: 2em;
}

main img {
    margin: 15px;
    border-radius: 10px;
    border: 5px solid #00698c;
}

footer {
    padding: 10px 0 0 20px;
    background: #ddd;
    height: 90px;
    font-weight: bold;
}


