
* {
    padding: 0;
    margin: 0;
    line-height: 1;
}

body {
    font-family: sans-serif;
    background: #9f9d9f;
}

.wrapper {
    outline: 2px ridge #d2d2d2;
    margin: 30px auto;
    width: 820px;
}

.header {
    background: #ff9800;
    padding: 26px 0 17px 18px;
    margin-bottom: 25px;
}

.header span {
    font-size: 2em;
    display: inline-block;
    margin-bottom: 28px;
}

body {
    font-family: sans-serif;
}

.wrapper {
    outline: 2px solid #fff;
    margin: 30px auto;
    width: 820px;
    background: #fff;
}

.header {
    background: #ff9800;
    padding: 26px 0 18px 18px;
}

.header span {
    font-size: 2em;
}

section {
    display: flex;
    justify-content: space-around;
    padding: 0 16px 0;
}

section > div {
    width: calc(95% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section{
    font-size: 20px;
}
section h1{
    font-size: 28px;
}

section > div h1 {
    font-size: 26px;
}

section > div p:nth-of-type(1) {
    margin-top: 24px;
    margin-bottom: 30px;
}

div img {
    width: 100%;
}

.wrapper-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    bottom: 0;
    margin-top: 16px;
    margin-bottom: 19px;
}

.wrapper-img > * {
    display: inline-block;;
    width: 49%;
}

@media only screen and (max-width: 960px) {
    .wrapper-img {
        flex-direction: column;
    }

    .wrapper-img > * {
        width: 99%;
    }
}
@media only screen and (max-width: 660px) {
    .wrapper{
        width: 99%;
    }
    section {
        flex-direction: column;
        align-items: center;
    }
    section > div {
        width: 99%;
    }
}
