body{
    background: #2c3d52;
}

ul{
    padding: 0;
    margin: 0;
}

.state-theme{
    display: inline-flex;
    position: absolute;
    right: 0;
    top: 0;
}
#light-theme{
    border: 2px solid black;
    margin: 5px;
    width: 30px;
    height: 30px;
    background: #4192ff;
}
#dark-theme{
    border: 2px solid black;
    margin: 5px;
    width: 30px;
    height: 30px;
    background: #101c39;
}

.page-container{
    padding: 10px 0;
    margin: 0 auto;
    display: flex;
    width: 1140px;
    justify-content: space-around;
}

aside{
    flex-grow:12;
    flex-shrink:3;
    flex-basis: 30em;
    margin-right: 10px;
}

.search-film{
    display: inline-flex;
    flex-direction: column;
}

.search-film__input{
    margin-bottom: 5px;
}

.search-film__btn-group{
    display: inline-flex;
    flex-wrap: nowrap;
}


.movie-section ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

.movie-section ul li{
    border: 2px solid black;
    width: 220px;
    height: 250px;
}

.movie-list__item{
    overflow: hidden;
    position: relative;
}

.movie-list__item .rating{
    position: absolute;
}

.movie-list__item .poster{
}

.movie-list__item img{
    display: block;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.movie-list__item .film-name{
    font-size: 15px;
}

.movie-list__item .overview{
    font-size: 15px;
}






