button{
    background: #d65c4b;
    border-radius: 5px;
    width: 100%;
    padding:  15px 0;
    outline: none;
    border: none;
    color: white;
    font-weight: bold;
    margin-bottom: 30px;
}
button:last-of-type{
    margin: 60px 0 30px 0;
}

.wrapper{
    box-sizing: border-box;
    width: 760px;
    margin: 0 auto;
    background: #d1d1d1;
    padding: 50px 60px;
}
header{
    background-image: url("assets/header_bg.gif");
    background-size: cover;
    height: 150px;
    margin: 0 auto 30px;
}
.center-content{
    text-align: center;
}
.strong-text{
    font-weight: bold;
}
section{
    padding: 0 0;
    background: #fff;
}

.content-page{
    padding: 10px 50px;
    font-family: sans-serif;;
}
.content-page a{

}

.service-text{
    margin: 20px 0 0;
}

.services-2row{
    width: 47%;
    display: inline-block;
}

.services-2row:nth-of-type(2n){
    margin-left: 27px;
}

.services-2row img, .services-3row img{
    width: 100%;
}

.services-3row:nth-of-type(3n){
    margin: 0;
}

.services-3row{
width: 29%;
display: inline-block;
margin-left: 30px;
}

footer{
    padding: 45px 0 0 0;
    color: white;
    text-align: center;
    font-family: sans-serif;
    font-size: 11px;
}
footer a{
    line-height: 30px;
    color: white;
}

